

<h1>Listado de Personas</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Periodo</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Horas</th>
      <th>opciones</th>
    </tr>
  </thead>
  <tbody>


        <% @student_enrollments.each do |student| %>
          <tr>

            <td><%= student.hours%> </td>
          </tr>
        <%end%>


  </tbody>
</table>
